<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="static/javascript/calc.js" defer></script>
</head>
<body>


<div class="container">
    <div id="screen" class="row">
        <h1></h1>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <button id="7" type="button" class="btn btn-default" onClick="reply_click(this.id)">7</button>
        </div>
        <div class="col-sm-1">
            <button id="8" type="button" class="btn btn-default" onClick="reply_click(this.id)">8</button>
        </div>
        <div  class="col-sm-1">
            <button id="9" type="button" class="btn btn-default" onClick="reply_click(this.id)">9</button>
        </div>
        <div  class="col-sm-1">
            <button id="-" type="button" class="btn btn-default" onClick="reply_click(this.id)">-</button>
        </div>
    </div>
    <div class="row">
        <div  class="col-sm-1">
            <button id="4" type="button" class="btn btn-default" onClick="reply_click(this.id)">4</button>
        </div>
        <div  class="col-sm-1">
            <button id="5" type="button" class="btn btn-default" onClick="reply_click(this.id)">5</button>
        </div>
        <div  class="col-sm-1">
            <button id="6" type="button" class="btn btn-default" onClick="reply_click(this.id)">6</button>
        </div>
        <div  class="col-sm-1">
            <button id="+" type="button" class="btn btn-default" onClick="reply_click(this.id)">+</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <button id="1" type="button" class="btn btn-default" onClick="reply_click(this.id)">1</button>
        </div>
        <div class="col-sm-1">
            <button id="2" type="button" class="btn btn-default" onClick="reply_click(this.id)">2</button>
        </div>
        <div class="col-sm-1">
            <button id="3" type="button" class="btn btn-default" onClick="reply_click(this.id)">3</button>
        </div>
        <div class="col-sm-1">
            <button id="=" type="button" class="btn btn-default" onClick="reply_click(this.id)">=</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <button id="0" type="button" class="btn btn-default" onClick="reply_click(this.id)">0</button>
        </div>
        <div class="col-sm-1">
            <button id="×" type="button" class="btn btn-default" onClick="reply_click(this.id)">×</button>
        </div>
        <div class="col-sm-1">
            <button id="/" type="button" class="btn btn-default" onClick="reply_click(this.id)">/</button>
        </div>
        <div class="col-sm-1">
            <button id="C" type="button" class="btn btn-default" onClick="reply_click(this.id)">C</button>
        </div>
    </div>
</div>
</body>
</html>